.about__page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
  max-width: 80rem;
  margin: 0 auto;
  min-height: 90vh;
}
.about__title {
  font-size: 4rem;
  max-width: 1000px;
  padding: 20px;
  margin: 2rem 0;
  text-align: center;
  align-self: flex-start;
}

.about__description {
  font-size: 1.5rem;
  line-height: 1.5;
}

.about__img {
  aspect-ratio: 1/1;
  object-fit: cover;
  max-width: 33%;
  border-radius: 50%;
  border: 3px solid white;

  object-fit: cover;
}

.about__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  max-width: 80rem;
  margin: 2rem auto;
}
.about__card {
  margin: 1rem 0;
  padding: 2rem;
  background-color: #f29471;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  color: #fff;
  background-image: url("../../assets/images/bedge-grunge.png");
}
.card__title {
  align-self: flex-start;
  font-weight: 400;
}
@media (max-width: 768px) {
  .about__description {
    font-size: 1rem;

    margin: 0.5rem 1.5rem;
  }
  .about__card {
    flex-direction: column;
  }
  .about__title {
    font-size: 2rem;
    padding: 10px;
    margin: 2rem 0;
    text-align: center;
  }
  .about__img {
    max-width: 40%;
  }
  .card__title {
    align-self: center;
  }
}
@media (max-width: 576px) {
  .about__description {
    margin: 0;
  }
  .about__page {
    padding: 0.5;
  }
}
