.about__page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
  max-width: 80rem;
  margin: 0 auto;
}

.about__section {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: center;
  margin: 2rem 0;
  flex-wrap: wrap;
  min-height: 90vh;
}

.about__title {
  font-size: 4rem;
  max-width: 1000px;
  padding: 20px;
  margin: 4rem 0;
  text-align: center;
}
.about__description {
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 1.5rem;
}

/* Card */
.card__section {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card__container {
  margin: 20px 0;
  background-color: rgb(203, 222, 222);
}
.image {
  width: 200px;
}

.card__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.card__text {
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
}

@media (max-width: 768px) {
  .about__description {
    margin: 0.5rem 1.5rem;
  }
}
