.blogPost__main {
  max-width: 80rem;
  padding: 1rem;
  margin: 1rem auto;
}

.blogPost__header {
  background-color: #f0f0f0;
  background-image: url(../../assets/images/cream-dust.png);
  text-align: center;
  padding: 1rem 0 2rem;
}

.blogPost__header h1 {
  font-size: 3.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.blogPost__image {
  max-width: 800px;
  height: auto;
  display: block;
  margin: 0 auto;
  /* max-width: 80rem; */
  width: 100%;
  height: auto;
}

.blogPost__pg {
  margin-top: 2rem;
  text-align: justify;
  line-height: 2rem;
  font-size: 1.25rem;
  color: rgb(21, 55, 44);
}

.blogPost__author {
  font-style: italic;
  margin-top: 1rem;
}

.blogPost__back {
  display: flex;
  margin: 2rem 0;
}
.blogPost__back:hover {
  color: #6a9d6f;
}
.blogPost__readTime {
  letter-spacing: 0px;
}
.blogPost__readTime,
.blogPost__date {
  text-align: end;
  margin: 1rem 0;
  color: #3e3e3e;
  font-size: 0.9rem;
}
