.blogPost__main {
  padding: 1rem;
  /* background-color: #fcfcfc; */
  background-image: url(../../assets/images/cream-dust.png);
}
.blogPost_wrapper {
  max-width: 80rem;
  margin: 2rem auto;
}

.blogPost__header {
  text-align: center;
  padding: 1rem 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.blogPost__header h1 {
  font-size: calc(1.5rem + 1vw);
  font-weight: 400;
  align-self: flex-start;
  justify-self: flex-start;
  max-width: 80%;
  color: rgb(21, 55, 44);
  margin-left: 1rem;
  text-align: start;
  margin-bottom: 1rem;
}

.blogPost__image {
  max-width: 800px;
  display: block;
  width: 100%;
  object-fit: cover;
}

.blogPost__body {
  padding: 0 3rem;
}

.blogPost__pg {
  margin-top: 1rem;
  text-align: justify;
  line-height: 2rem;
  font-size: calc(1rem + 0.2vw);
  color: rgb(21, 55, 44);
}

.blogPost__back {
  display: flex;
  margin: 2rem 0;
}
.blogPost__back:hover {
  color: #6a9d6f;
}

.blogPost__readTime {
  align-self: flex-start;
  margin: 1rem 3rem;
  opacity: 0.75;
}

.author__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.blogPost__authorImg {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 1rem;
  border: 1.5px solid #16382d;
}

.author__social {
  color: #16382d;
  font-size: 1.5rem;
}
.author__social:hover {
  color: #6a9d6f;
}
@media (max-width: 992px) {
  .blogPost__header {
    gap: 1rem;
  }

  .blogPost__header h1 {
    align-self: center;
    justify-self: center;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .blogPost__body {
    padding: 0 0.5rem;
  }
}
