.demo__main {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  max-width: 80rem;
  margin: 0 auto;
  height: calc(100vh - 70px);
}

.demo__container {
  width: 50%;
  background-color: #205242;
  margin: 5rem 0;
  padding: 2rem 2rem;
  color: #fff;
}
.demo__title {
  font-size: 3rem;
  line-height: 4rem;
  text-decoration: none;
  font-weight: 400;
}
.demo__pg {
  margin: 2rem 0;
  font-size: 1rem;
  line-height: 27px;
}

.demo__booking {
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.8px;
  margin: 1rem 0;
}
.demo__list {
  margin-left: 3rem;
}
.demo__list > li {
  margin: 1.5rem 0;
}
.calendly__container {
  display: flex;
  flex-direction: column;
  max-width: 50%;
}
.contact__main {
  max-width: 80rem;
  margin: 0 auto;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6rem;
  color: #193c40;
}

.contact__container {
  padding: 3rem;
}
.contact__heading {
  font-size: 2rem;
}
.contact__pg {
  font-size: 1rem;
}
.contact__heading,
.contact__pg {
  margin: 1rem;
}

/* form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2rem;
}

label {
  font-weight: 300;
  margin-bottom: 1rem;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  resize: none;
  display: flex;
} */

@media (max-width: 720px) {
  .demo__main {
    display: flex;
    flex-direction: column;
  }

  .demo__container,
  .calendly__container {
    width: 100%;
  }
  /* 
  form {
    width: 100%;
    margin-top: 20px;
  } */
}
