.demo__main {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: calc(100vh - 70px);
}

.demo__container {
  width: 50%;
  background-color: #9ae1a1;
  padding: 8.25rem 4rem;
  color: #000;
  /* margin: 4rem 0; */
}
.demo__title {
  font-size: 3rem;
  line-height: 71px;
  text-decoration: none;
  font-weight: 400;
}
.demo__pg {
  margin: 2rem 0;
  font-size: 1rem;
  line-height: 27px;
}

.demo__booking {
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.8px;
  margin: 1rem 0;
}
.demo__list {
  margin-left: 3rem;
}
.demo__list > li {
  margin: 1.5rem 0;
}
.calendly__container {
  display: flex;
  flex-direction: column;
  width: 50%;
  /* margin: 4rem 0; */
  /* align-items: center; */
  /* background-color: #d2ebe5;

  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); */
  /* background-color: aqua; */
}
.contact__main {
  background-color: #ffc3b3;
  color: #fff;
}
.contact__container {
  padding: 3rem;
}
.contact__heading {
  font-size: 2rem;
}
.contact__pg {
  font-size: 1rem;
}
.contact__heading,
.contact__pg {
  margin: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); */
  width: 100%;
  padding: 2rem;
}

label {
  font-weight: 300;
  margin-bottom: 1rem;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  resize: none;
  display: flex;
}

@media (max-width: 720px) {
  .demo__main {
    display: flex;
    flex-direction: column;
  }

  .demo__container {
    width: 100%;
  }

  form {
    width: 100%;
    margin-top: 20px;
  }
}
