.calendly__heading {
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: 0;
  margin: 9rem 3rem 2rem 3rem;
  color: #193c40;
}
.calendly__pg {
  margin: 2.5rem 3rem;
  font-size: 1rem;
  font-weight: 400;
  color: #193c40;
  line-height: 1.6rem;
}
