.calendly__heading {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 4rem;
  margin: 5rem 3rem 2rem 1rem;
  color: #193c40;
  padding: 2rem;
}
.calendly__pg {
  margin: 2.5rem 3rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6rem;
  color: #193c40;
}

@media (max-width: 768px) {
  .calendly__heading {
    padding: 1rem;
    margin: 0;
  }
}
/* 
@media (max-width: 768px) {
  .calendly__heading {
    padding: 1rem;
    margin: 0;
  }

  .calendly__main {
    width: 100%;
  }

  .calendly__title {
    width: 100%;
  }

  .InlineWidget iframe {
    width: 100% !important;
  }
} */
