.calendly__heading {
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: 0;
  margin: 9rem 3rem 3rem 3rem;
  color: #15372c;
}
.calendly__pg {
  margin: 3rem;
  font-size: 1rem;
  font-weight: 400;
  color: #15372c;
}
