form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 2rem auto;
  padding: 1em;
  /* border: 1px solid gray; */
  border-radius: 5px;
  max-width: 80rem;
}
.form-section {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 80rem;
  width: 100%;
  gap: 2rem;
}

.form-row {
  width: 100%;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
}
.form-row > input,
.form-row > select,
.form-textarea {
  font-size: 1.1rem;
  width: 100%;
  height: 2.25rem;
  background-color: #fafafa;
  border: none;
  padding: 0.5rem;
}

.form-text-container {
  display: flex;
  flex-direction: column;
  max-width: 80rem;
  width: 100%;
  margin: 1rem 0;
}
.form-textarea {
  height: 15rem;
  /* background-color: #fafafa;
  border: none; */
}

.form-text-container > label {
  margin: 0.5rem 0;
}

.contact-btn[type="submit"] {
  width: 50%;
  align-items: center;
  appearance: button;
  background-color: #0276ff;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-shrink: 0;
  font-family: "RM Neue", sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 1rem;
  padding: 10px 21px;
  text-transform: none;
  transition: color 0.13s ease-in-out, background 0.13s ease-in-out,
    opacity 0.13s ease-in-out, box-shadow 0.13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  align-self: flex-start;
}

.contact-btn[type="submit"]:hover,
.contact-btn[type="submit"]:active {
  background-color: #006ae8;
}

@media (max-width: 768px) {
  form {
    width: 90%;
  }
  .form-section {
    gap: 0;
    flex-direction: column;
  }
  .contact-btn {
    max-width: 100%;
  }
}

/* Thank you */
.thank-you {
  text-align: center;
  margin: 2rem auto;
  padding: 1rem;
}

.thank-you img {
  margin: 2rem auto;
}

.thank-you h1 {
  font-size: 36px;
  margin-top: 20px;
}

.thank-you p {
  font-size: 18px;
  margin-top: 20px;
}

.thank-you-blog {
  color: #136bfc;
}

.thank-you-blog:hover {
  color: #6a9d6f;
}

@media (max-width: 576px) {
  .thank-you-img {
    width: 80%;
  }
  .thank-you-header {
    line-height: 3rem;
  }
}
