.container {
  max-width: 1440px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.col {
  flex: 1;
}

.text-section {
  background-color: white;
}
.landing-page-headings {
  font-weight: 400;
  color: #1a4c5f;
  margin: 1rem 2rem;
  line-height: 62px;
}
.landing-page-pg {
  color: #2c4c5e;
  margin: 0 2rem;
}

.image-section {
  position: relative;
  overflow: hidden;
  height: 800px;
}
.text-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.aspect-ratio-3-4 {
  aspect-ratio: 3/4;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
}

/* scroll image  */
.fade-in-image {
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.in-view {
  opacity: 1;
}

/* mobile */

@media (max-width: 720px) {
  .row {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .text-section,
  .image-section {
    width: 100%;
  }
}
