section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

img {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  display: block;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

ul li {
  margin: 0 10px;
}

blockquote {
  font-size: 1.2rem;
  margin: 20px 0;
  padding: 20px;
  background-color: #f9f9f9;
  border-left: 10px solid #ccc;
}

blockquote p {
  margin: 0;
}

cite {
  font-size: 1rem;
  display: block;
  margin-top: 10px;
  text-align: right;
}

button {
  font-size: 1.2rem;
  padding: 10px 20px;
  background-color: #00bfff;
  color: #fff;
  border: none;
  cursor: pointer;
}
