.container {
  max-width: 1440px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.col {
  flex: 1;
}

.landing-page-headings {
  font-weight: 400;
  font-size: 5rem;
  color: rgb(21, 55, 44);
  margin: 1rem 2rem;
}
.landing-page-pg {
  color: #2c4c5e;
  margin: 0 2rem;
  margin-top: 1rem;
  line-height: 2rem;
  font-size: calc(1rem + 0.2vw);
  color: rgb(21, 55, 44);
}

.image-section {
  position: relative;
  overflow: hidden;
  height: 800px;
}
.text-section {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.break__text {
  height: 200px;
  background-color: #fef5e6;
}

.aspect-ratio-3-4 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
}

/* scroll image  */
.inactive-class {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}
.active-class {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 1s;
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

@media (max-width: 1400px) {
  .landing-page-headings {
    font-weight: 400;
    font-size: 4rem;
  }
}
/* mobile */
@media (max-width: 768px) {
  .row {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .text-section,
  .image-section {
    width: 100%;
  }
  .text-section {
    margin: 6rem 0 7rem;
  }
  .image__girl {
    order: 1;
  }
}
