nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem 2rem;
  background-color: white;
  border-bottom: 1px solid lightgray;
}

nav img {
  height: 40px;
  margin-right: 1rem;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 1rem;
}

nav .Nav__Links {
  color: black;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

.logo {
  height: 40px;
  margin-right: 1rem;
  transform: scale(1); /* default state */
  transition: transform 0.3s;
}
.logo:hover {
  cursor: pointer;
  transform: scale(1.08); /* hover state */
}

.Nav__Links {
  position: relative;
}

.Nav__Links::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -5px;
  left: 0;
  background-color: #4da7e8;
  visibility: hidden;
  transition: all 0.33s ease-in-out;
}

.Nav__Links:hover::before {
  visibility: visible;
  width: 100%;
}

.Nav__Links:hover {
  color: #4da7e8;
  transition: color 0.33s ease-in-out;
}
