footer {
  background-color: #16382d;
  color: #fff;
  text-align: center;
  padding: 2rem;
}

.footer__container {
  display: flex;
  justify-content: center;
}

.footer__links {
  list-style: none;
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
  margin: 0 10px;
  cursor: pointer;
  text-decoration: underline solid 1px;
  text-underline-offset: 3px;
}
.footer__links:hover {
  text-decoration: none;
}

.back-to-top {
  background-color: red;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.copyright {
  margin: 1rem 0 0 0;
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.7);
}

@media screen and (max-width: 768px) {
  /* your styles */
  .footer__container {
    flex-direction: column;
    gap: 1rem;
  }
}
