footer {
  background-color: #bf4d33;
  color: #fff;
  text-align: center;
  padding: 2rem;
}

.footer-links {
  display: flex;
  justify-content: center;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.back-to-top {
  background-color: #193c40;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}
